<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Find your new favorite guitar!</h1>
    <br />
    <h2>Trusted community of musicians buying, selling and trading gear.</h2>
    <br />
    <a href="x">List Your Gear Button Goes Here</a>
    <br /><br />
  </div>
</div>

<br />
<br />
<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-play-circle"></span>
    <div class="homepage-subtitle">
      <h3>It's easy and it's free</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

  <div class="col-sm-4">
    <span class="glyphicon glyphicon-education"></span>
    <div class="homepage-subtitle">
      <h3>Trusted source for used music gear</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

  <div class="col-sm-4">
    <span class="glyphicon glyphicon-phone"></span>
    <div class="homepage-subtitle">
      <h3>Did I mention it's easy and free?</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>